{
      "ignore": [".yarn", ".pnp.js"],
      "presets": [ ["babel-preset-latest-node", {target: "current"}] ],
      "plugins": [
          ["babel-plugin-styled-components", { "pure": true }],
          ["module-resolver", {
              "root": ["./src"],
              "alias": {
                "project/settings.yml": "./tools/resolve-settings.js",
                "project/lookup.json": "./tools/resolve-lookup.js",
              }
          }]
      ]
}
