{
      "ignore": [".yarn", ".pnp.js"],
      "presets": [
        "next/babel",
        ["babel-preset-latest-node", {"target": "current"}],
        ["@babel/preset-env", {"modules": false, "targets": '>1%'}]
      ]
}
