@import 'constants.css';

.no-scroll-mobile {
  @media (max-width: $lg-screen) {
    overflow: hidden;
  }
}

#guide-page {
  color: #38404a;
  font-size: 1rem;
  min-width: 360px;
  position: relative;

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2.25em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.375em;
  }

  h5 {
    font-size: 1.125em;
  }

  h1, h2, h3, h4, h5 {
    margin-top: calc($spacing * 0.8);
    margin-bottom: 0;
    font-weight: 400;
  }

  h1.title {
    margin-top: 0;
    max-width: 580px;
  }

  .guide-header h1.title {
    @media (max-width: $lg-screen) {
      display: none;
    }
  }

  .main-content h1.title {
    display: none;

    @media (max-width: $lg-screen) {
      display: block;
    }
  }

  .container {
    margin-left: 250px;
    max-width: 1280px;
  }

  p > img,
  .items,
  .metadata {
    margin: calc($spacing * 1.5) 0;
  }

  a:hover {
    letter-spacing: inherit !important;
  }

  blockquote {
    margin: calc($spacing * 1.375) 0;
    padding: $spacing;
    background: #ebebeb;
    font-size: 0.9em;
  }

  blockquote :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  blockquote :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .guide-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 2px solid #e5e5e5;
    background: #fafafa;
    z-index: 2;

    @media (max-width: $lg-screen) {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 $spacing;

      .content {
        display: flex;
        align-items: center;
      }
    }
  }

  .guide-header .container {
    padding: $spacing 0;
  }

  .side-content {
    position: fixed;
    width: 250px;
    border-right: 2px solid #e5e5e5;
    background: #fafafa;
    height: 100%;
    z-index: 3;
    display: flex;
    flex-direction: column;
  }

  .guide-sidebar {
    padding-bottom: 10px;
    overflow-y: auto;
    margin-top: -10px;

    @media (max-width: $lg-screen) {
      margin-top: 0;
    }
  }

  .sidebar-show {
    display: none;

    @media (max-width: $lg-screen) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc($spacing * 2);
      height: calc($spacing * 2);
      margin-right: 0.5em;
      position: relative;
      top: initial;
      left: initial;
    }
  }

  .sidebar-collapse {
    display: none;

    @media (max-width: $lg-screen) {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .side-content .landscape-logo {
    display: block;
    padding: $spacing;

    @media (max-width: $lg-screen) {
      display: none;
    }
  }

  .guide-header .landscape-logo {
    display: none;
    padding: 0;

    @media (max-width: $lg-screen) {
      display: block;
    }
  }

  .sidebar-scroll {
    padding-top: 20px;
  }

  @media (max-width: $lg-screen) {
    .side-content {
      display: none;
    }

    &.sidebar-open .side-content {
      display: block;
      position: fixed;
      padding: $spacing;
      inset: 0;
      width: 100%;
      overflow-y: auto;
    }
  }

  .guide-toggle {
    margin: 5px 20px 10px;
  }

  .sidebar-link {
    display: block;
    color: #38404a;
    padding: 10px 20px;
  }

  .sidebar-link svg {
    stroke: none;
  }

  .expandable {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .expandable.expanded svg {
    transform: rotate(90deg);
  }

  .sidebar-link:hover {
    background: #efefef;
  }

  .sidebar-link.active {
    font-weight: 700;
  }

  .main-content {
    border-top: 2px solid #e5e5e5;
    padding-top: 5.5em;

    @media (max-width: $lg-screen) {
      padding-top: 4.5em;
    }
  }

  .container {
    margin-left: 250px;

    @media (max-width: $lg-screen) {
      margin-left: 0;
      padding: 1em;
    }
  }

  .content {
    max-width: 714px;
    margin: 0 auto;
  }

  .metadata {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d0d0;
    border-right: none;
    border-bottom: none;
  }

  .metadata > div {
    display: flex;
  }

  .metadata .header {
    background: #ebebeb;
    font-weight: 600;
    text-align: center;
  }

  .metadata .header > div {
    padding: 0.5em;
  }

  .metadata .body > div {
    padding: 1em;
  }

  .metadata .header > div,
  .metadata .body > div {
    width: 50%;
    border: 1px solid #d0d0d0;
    border-top: 0;
    border-left: 0;
  }

  .metadata .body ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .guide-content img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .permalink {
    align-items: center;
    vertical-align: text-bottom
  }

  .section-title {
    /* Prevent anchor links from scrolling behind a fixed header */
    padding-top: 5em;
    margin-top: -5em;

    @media (max-width: $lg-screen) {
      padding-top: 4em;
      margin-top: -4em;
    }
  }

  .permalink:hover {
    font-weight: bold;
  }

  .items {
    overflow: hidden;
    display: grid;
    justify-content: center;
    grid-auto-flow: row dense;
  }

  .guide-icon {
    background: url(../images/guide.svg);
    width: 0.7em;
    height: 0.95em;
    display: inline-block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 0.25em;
  }
}
