@import 'breakpoints.css';

$spacing: 1rem;

#guide-page {
  color: #38404a;
  font-size: 16px;
  max-width: 996px;
  min-width: 360px;
  position: relative;
  margin: 0 auto;
  padding: $spacing;

  &.filters-opened {
    overflow: hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    line-height: 1;
    font-weight: bold;
    margin: 0 0 $spacing;
  }

  h2 {
    padding-top: calc($spacing * 1.25)
  }

  h3 {
    padding-top: calc($spacing * 3  / 4)
  }

  h4 {
    padding-top: calc($spacing / 2)
  }

  h5 {
    padding-top: calc($spacing / 4)
  }

  .guide-content {
    margin-top: $spacing;
  }

  p,
  .metadata {
    margin: 0 0 $spacing;
  }

  p > img,
  blockquote {
    margin: 0 0 calc($spacing * 1.5);
  }

  blockquote {
    background: #ebebeb;
    padding: calc($spacing * 1.25);
    font-size: 0.9em;
  }

  blockquote :first-child {
    margin-top: 0;
    padding-top: 0;
  }

  blockquote :last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  h1 {
    font-size: 2.4em;
  }

  h2 {
    font-size: 2.1em;
  }

  h3 {
    font-size: 1.7em;
  }

  h4 {
    font-size: 1.4em;
  }

  h5 {
    font-size: 1.275em;
  }

  .side-content {
    position: fixed;
    width: 250px;
    top: $spacing;

    @media (max-width: $lg-screen) {
      position: absolute;
    }
  }

  .sidebar-show {
    display: none;

    @media (max-width: $lg-screen) {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 0;
      left: 0;
      width: calc($spacing * 2);
      height: calc($spacing * 2);
    }
  }

  .sidebar-collapse {
    display: none;

    @media (max-width: $lg-screen) {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .landscape-logo {
    display: block;

    @media (max-width: $lg-screen) {
      margin-left: calc($spacing * 3);
    }
  }

  .landscapeapp-logo {
    position: absolute;
    top: $spacing;
    right: 1rem;
  }

  .landscape-logo img,
  .landscapeapp-logo img {
    max-width: 15em;
    height: 3em;

    @media (max-width: $lg-screen) {
      max-width: 10em;
      height: 2em;
    }
  }

  .sidebar-scroll {
    padding-top: 20px;
  }

  .sidebar .sidebar-collapse {
    top: 5px;
    right: 5px;
  }

  .sidebar-level {
    margin-left: 10px;
  }

  @media (max-width: $lg-screen) {
    .guide-sidebar {
      display: none;
    }

    &.filters-opened .guide-sidebar {
      display: block;
      z-index: 1000;
      background: white;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      padding: $spacing;
      width: 250px;
    }
  }

  .guide-sidebar > .sidebar-level {
    margin-left: 0;
  }

  .sidebar-link {
    margin-bottom: 6px;
    display: block;
  }

  .main-content {
    padding-left: 250px;

    @media (max-width: $lg-screen) {
      padding-left: 0;
      padding-top: 4em;
    }
  }

  .main-content .title {
    margin-bottom: 2rem;
    max-width: 580px;
  }

  .metadata {
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid #d0d0d0;
    border-right: none;
    border-bottom: none;
  }

  .metadata > div {
    display: flex;
  }

  .metadata .header {
    background: #ebebeb;
    font-weight: 600;
    text-align: center;
  }

  .metadata .header > div {
    padding: 0.5em;
  }

  .metadata .body > div {
    padding: 1em;
  }

  .metadata .header > div,
  .metadata .body > div {
    width: 50%;
    border: 1px solid #d0d0d0;
    border-top: 0;
    border-left: 0;
  }

  .metadata .body ul {
    margin: 0;
    padding: 0;
    list-style-position: inside;
  }

  .guide-content img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .permalink svg {
    vertical-align: text-top;
    margin-left: 5px;
  }

  .permalink:hover {
    text-decoration: underline;
  }

  .items {
    margin-bottom: $spacing;
    overflow: hidden;
  }

  .outer-item {
    float: left;
  }
}

