@import 'breakpoints.css';

#guide-page {
  color: #38404a;

  h2,
  h3,
  h4,
  h5 {
    font-weight: bold;
    margin: 1.5rem 0 1rem;
  }

  p,
  table,
  blockquote {
    margin: 0 0 1rem;
  }

  blockquote :first-child {
    margin-top: 0;
  }

  h1 {
    font-size: 2.1rem;
  }

  h2 {
    font-size: 1.85rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1.125rem;
  }

  .sidebar-scroll {
    padding-top: 20px;
  }

  .sidebar .sidebar-collapse {
    top: 5px;
    right: 5px;
  }

  .main {
    max-width: 630px;
    margin-top: -55px;
  }

  .main .title {
    margin: 0;
    max-width: 580px;
  }

  @media (max-width: $lg-screen) {
    .main {
      margin-top: 20px;
    }
  }

  table {
    margin-left: auto;
    margin-right: auto;
  }

  table,
  table th,
  table td {
    border: 1px solid #d0d0d0;
    border-collapse: collapse;
    padding: 0.5rem 1rem 0.3rem;
    vertical-align: top;
  }

  table th {
    background: #ebebeb;
  }

  table ul {
    margin: 0;
    padding: 0.5rem 0.5rem 0.5rem 1rem;
    list-style-type: disc;
  }

  .guide-content blockquote {
    background: #ebebeb;
    padding: 1.5rem 1.5rem 0.5rem;
  }

  .guide-content img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
  }

  .permalink svg {
    vertical-align: text-top;
    margin-left: 5px;
  }

  .permalink:hover {
    text-decoration: underline;
  }

  .items {
    margin-bottom: 0.5rem;
    overflow: hidden;
  }

  .outer-item {
    float: left;
  }
}

