@import "breakpoints";
@import "colors";

$arrow-size: 72px;
$modal-padding: 20px;
$additional-padding: 15px;

.modal {
  perspective: 2000px;
  display: block;

  .modal-buttons {
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 30px;

    @media (max-width: $md-screen) {
      top: 20px;
      height: 180px;
    }
  }

  &-prev, &-next {
    position: absolute;
    top: 50%;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    width: $arrow-size;
    height: $arrow-size;
    margin-top: $arrow-size / -2;

    svg {
      width: 100%;
      height: 100%;
    }

    &:hover {
      opacity: 0.8;
    }

    &[disabled] {
      cursor: default;
      opacity: 0.1;

      &:hover {
        opacity: 0.1;
      }
    }
  }
  &-prev {left: -60px;}
  &-next {right: -60px;}
  @media (max-width: $md-screen) {
    &-prev, &-next {
      opacity: 0.4;
      color: #000;
    }

    &-prev { left: calc(50% - 185px); }
    &-next { right: calc(50% - 185px); }
  }

  .modal-body {
    max-height: 720px;
    width: 90%;
    max-width: 1080px;
    border-radius: 4px;
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 20px;
    right: 0;
    margin: auto;
    overflow: visible;

    @media (max-width: $md-screen) {
      width: auto;
      height: auto;
      position: absolute;
      top: 5px;
      left: 5px;
      bottom: 5px;
      right: 5px;
      margin: 0;
      padding: 0;
      max-height: none;
      border-radius: 2px;
      -webkit-overflow-scrolling: touch;
    }
  }

  .modal-content {
    position: relative;
    height: 100%;
    padding: $modal-padding 0;

    @media (max-width: $md-screen) {
      padding: $modal-padding;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  &-close {
    cursor: pointer;
    position: absolute;
    top: -20px;
    right: 8px;
    font-size: 40px;
    opacity: 0.4;
    color: #000;
    z-index: 3;
    width: 48px;
    line-height: 48px;
    text-align: center;

    @media (max-width: $md-screen) {
      right: -5px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
.embed .modal .modal-body {
  max-height: 480px;
}

.product {
  &-logo {
    position: relative;
    width: 30%;
    margin: $additional-padding 0 $modal-padding+$additional-padding $modal-padding+$additional-padding;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 16px;
    border: #fff 4px solid;
    height: 172px;

    &-img {
      cursor: pointer;
      margin: auto;
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }

    .nonoss & {
      background: #eee;
      border-color: #eee;
    }

    @media (max-width: $lg-screen) {
      margin: 0 0 $modal-padding $modal-padding;
    }

    @media (max-width: $md-screen) {
      margin: 0 auto $modal-padding;
      width: auto;
      max-width: 250px;
      height: 180px;
    }
  }

  &-tags {
    position: relative;
    margin-left: $modal-padding+$additional-padding;

    @media (max-width: $lg-screen) {
      margin-left: $modal-padding;
    }

    @media (max-width: $md-screen) {
      margin-left: 0;
      margin-bottom: $modal-padding;
    }
  }

  .product-content {
    position: absolute;
    top: $modal-padding + $additional-padding;
    left: calc(40% - 15px);
    right: 0px;
    bottom: $modal-padding + $additional-padding;
    padding-right: $modal-padding + $additional-padding;
    overflow-y: auto;
    overflow-x: hidden;

    @media (max-width: $lg-screen) {
      top: $modal-padding;
      bottom: $modal-padding;
      padding-right: $modal-padding;
      left: calc(40% - 35px);
    }

    @media (max-width: $md-screen) {
      position: relative;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 0;
      overflow-y: visible;
    }
  }

  &-main {font-size: 0.8rem; line-height: 130%; color: $navy;}
  &-name {font-size: 2rem; line-height: 130%;}
  &-parent {font-weight: bold; margin-bottom: 0.8rem;}
  &-category {color: $navy-light; margin-bottom: 0.8rem;
    &-separator {margin: 0 5px; font-size: 0.6rem;}
  }
  &-description {font-size: 1.1rem; line-height: 130%; margin-bottom: 0.8rem; max-height: 300px;}

  &-properties {
    font-size: 0.9rem;
    color: $navy;
    margin: 2rem 0 1rem;
  }

  &-property {
    margin-bottom: 0.5rem;

    &-value {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    a {
      color: $blue;
    }
  }

  .product-property.row,
  .product-property .col {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $lg-screen) {
    .product-property .col .product-property:first-child{
      padding-right: 10px;
    }
  }

  @media (max-width: $lg-screen) {
    .product-property {
      flex-direction: column;
      width: 100%;
    }

    .product-property .col {
      width: 100%;
      display: block;
    }
  }

  &-repo {
    &-stars {color: #7b7b7b; font-size: 0.8rem; white-space: nowrap; line-height: 16px; display: inline-block;
      svg {width: 16px; height: 16px; display: inline-block; vertical-align: top; }
    }
  }
  &-twitter {position: relative;
    &:after {position: absolute; content: ""; top: 0; left: 0; bottom: 0; right: 0; z-index: 100; pointer-events: none;}
  }
}
